<!DOCTYPE html>
<html>
<head>
    <title>Signaler un problème transport</title>
</head>
<body>

<h1>Signaler un problème</h1>

<form action="#">
    
    <label>Ligne concernée:</label><br>
    <input type="text" name="ligne"><br><br>

    <label>Type de problème:</label><br>
    <select name="type">
        <option>Retard</option>
        <option>Panne</option>
        <option>Bus bondé</option>
        <option>Accident</option>
    </select><br><br>

    <label>Description:</label><br>
    <textarea name="description"></textarea><br><br>

    <button type="submit">Envoyer</button>

</form>
<a href="transport.html">Transport</a><br>

</body>
</html>