<!DOCTYPE html>
<html>
<head>
    <title>Transport - CivicPlus</title>
</head>
<body>
<a href="itineraire-transport.html">Rechercher un itinéraire</a><br>

<h1>Transport & Mobilité</h1>

<h2>Lignes disponibles</h2>
<ul>
    <li>Ligne 1 - Centre Ville → Ariana</li>
    <li>Ligne 2 - Lac → Manouba</li>
    <li>Ligne 5 - Bab Saadoun → Menzah</li>
</ul>

<h2>Informations en temps réel</h2>
<p>Heure estimée d’arrivée: 10 min</p>
<p>Retard: 5 minutes</p>
<p>Niveau de foule: Modéré</p>

<a href="signaler-transport.html">Signaler un problème</a>

</body>
</html>